html {
    font-family: Helvetica;
    background-color: #470101;
    color: #ddd;
}

.container {
    max-width: 1100px;
    position: relative;
    margin: 30px auto;
    padding: 20px 50px;
    background-color: #000000;
}

.header {
    text-align: center;
}

.main-title {
    font-size: 45px;
}

.main-paragraph {
    font-style: italic;
}

.featured-image {
    text-align: center;
    margin-top: 25px;
}

.biography-container {
    padding: 25px 0px;
    margin: 25px 0px;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.quotes-container {
    background-color: #880f0f;
    padding: 30px;
}

.quotes-container blockquote {
    font-weight: bold;
    font-size: 30px;
}

.quotes-container p {
    font-style: italic;
}

.curiosities-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.curiosities-container li {
    height: 30px;
}

.img-bold {
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

img {
    max-width: 800px;
}

figcaption {
    margin-top: 15px;
}

a{
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
}

.more-info {
    margin-top: 100px;
}

.more-info h2 {
    font-size: 35px;
    text-decoration: underline;
}
.more-info p {
    font-size: 22px;
}